:sass
  body
    color: white
    background-color: black
  .simple-calendar
    th
      border-color: #333
      border-top: 1px #333 solid
    td
      padding: 0
      position: relative
      width: calc(100vw / 7)
      border-color: #333
      background: black
      &.prev-month, &.next-month
        background-color: #333
      &.today
        .date
          color: yellow

  .date
    background: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0.5))
    color: white
    padding: 0.5rem 0.5rem 1rem 0.5rem
    position: absolute
    width: 100%
    box-sizing: border-box

  img
    width: 100%
    display: block
    &:not(:first-child)
      margin-top: 1px

%h1= @user.username

= month_calendar do |date|
  .date= date
  - date_range = date.beginning_of_day..date.end_of_day
  - @user.meals.where(created_at: date_range).each do |meal|
    = image_tag meal.image.url
