:sass
  img
    max-height: 100px
    max-width: 100px

%h1= @user.username

= month_calendar do |date|
  = date
  - date_range = date.beginning_of_day..date.end_of_day
  - @user.meals.where(created_at: date_range).each do |meal|
    = image_tag meal.image.url
